.dowloadButton {
    padding: 10px;
    margin: 10px;
    display: block;
}

.paginator {
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.activePaginator {
    border: 2px solid blue;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}